<log4net>
  <logger name="logfile">
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </logger>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value=".\\Log" />
    <param name="AppendToFile" value="true" />
    <datePattern value=".yyyy-MM-dd'.txt'" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[LOGENTRY] %date %-5level %logger{2} - %message %newline" />
    </layout>
    </appender>
</log4net>
