<log4net>
  <logger name="InfoLogging">
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </logger>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value=".\\App_Logs\\[%processid]" />
    <datePattern value="-yyyy.MM.HH'.log'" />
    <staticLogFileName value="false"/>
    <rollingStyle value="Date" />
    <appendToFile value="true" />
    <maximumFileSize value="500MB" />
    <maxSizeRollBackups value="50" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%thread] %level %newline%message%newline" />
    </layout>
  </appender>
</log4net>
